<form class="dog-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Edad</mat-label>
      <input matInput placeholder="años y meses">
    </mat-form-field></td>
  </tr></table>
</form>