.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-card {
    max-width: 300px;
}

.example-header-image {
  background-image: url(/assets/icons/checklist.png);
  background-size: cover;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    padding-right: 100px;
}

  .container {
    background-image: url(/assets/icons/colors-background.jpg);
    background-size: 50% 50%;
    background-repeat: repeat;
}