

<mat-toolbar color="accent" style="height: 100px;" class="customFlexContainer">
    <img class="jpg-icon"  src="../../../../assets/icons/girl.png" 
        style="max-width: 8%; min-width: 8%;">
    <span style="font-size: 250%; font-family: Impact; vertical-aligh:middle;">MEJORES AMIGOS</span>
    <img class="jpg-icon"  src="../../../../assets/icons/boy2.png" 
        style="max-width: 8%; min-width: 8%;">
</mat-toolbar>

<nav mat-tab-nav-bar mat-align-tabs="end" [backgroundColor]="background">

   
  <a mat-tab-link routerLink="/dogs">Adopta un amigo</a>
  <a mat-tab-link routerLink="/dogs/new">Agregar nuevo</a>
</nav>



