.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
  
.example-header-image {
    background-image: url(/assets/icons/dog-house2.png);
    background-size: cover;
  }

.container {
    background-image: url(/assets/icons/colors-background.jpg);
    background-size: 50% 50%;
    background-repeat: repeat;
}

