<body class="container">

<div class="content" fxLayout="row wrap" fxLayoutGap="15px grid">
<div fxFlex="25%" *ngFor="let dog of dogs">

<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{dog.name}}</mat-card-title>
    <mat-card-subtitle>{{dog.years}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="'http://localhost:4000/' + dog.pathPhoto">
  <mat-card-content>
    <p>
      {{dog.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">EDITAR</button>
    <button mat-raised-button color="primary">ELIMINAR</button>
  </mat-card-actions>

</mat-card>
</div>
</div>
</body>
